<!-- React Weather Station-->
<div class="modal micromodal-slide" id="weatherStation-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Weather Station
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          Weather Station is an MVC CRUD weather application uses React for front-end, Node/Express for backend, and
          Postgres for databases management. It utilizes Google Geocoding API and Dark Sky API to find weather based on
          user input, and uses Json Web Tokens, password encryption, and protected React routes for User Authentication
          and Authorization. Frontend UI is Bootstrap plus a couple other open source packages, as well as a bit of
          custom CSS animation.</p>
        <img src="/images/project-gifs/weatherStation.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>React, Node.js + Express, Postgres + Knex</li>
          <li>Google Geocoding API and Dark Sky API</li>
          <li>JWT, Bcryptjs, client-side cookies</li>
          <li>Bootstrap UI + a couple component libraries</li>

        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/Weather-Station">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://ducks-love-rain.herokuapp.com/">Deployed
            App</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- StyleFish -->
<div class="modal micromodal-slide" id="styleFish-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          StyleFish
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          StyleFish is a MERN-stack application for folks who want to up their fashion game. Sign up, pick a starter
          clothing item, and StyleFish will generate an outfit that you can then save to your closet. Check out other
          users' closets and save them to your own closet.</p>
        <img src="/images/project-gifs/styleFish.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>MERN (Mongoose, Express, React, Node)</li>
          <li>JSON Web Tokens</li>
          <li>Web Sockets (Socket.io)</li>
          <li>Server / Client Proxies</li>
          <li>Axios</li>
          <li>MDB (Bootstrap UI Kit and Animations)</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/Style-Fish">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="#">Deployed App Under Maintenance...</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- MERN Google Books -->
<div class="modal micromodal-slide" id="reactBooks-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          React Books
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          React Books is a MERN-stack application for searching Google Books API and performing CRUD operations using
          Mongoose. Whenever a user saves a book, web sockets update the most recently saved book in realtime.</p>
        <img src="/images/project-gifs/React-Books.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>MERN (Mongoose, Express, React, Node)</li>
          <li>Web Sockets (Socket.io)</li>
          <li>Axios</li>
          <li>Vanilla CSS Grid and Flexbox</li>
          <li>Server / Client Proxies</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/MERN-Books">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://mern-bookster.herokuapp.com/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- React I Ching -->
<div class="modal micromodal-slide" id="iChing-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          React I Ching
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          React I Ching is a react.js application that utilizes ES6 javascript methods to arrange, and re-arrange, I
          Ching cards.</p>


        <img src="/images/project-gifs/iChing.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>React.js</li>
          <li>ES6 javascript</li>
          <li>Vanilla CSS Grid / Flexbox</li>

        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/React-I-Ching-Game">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://i-ching-react.herokuapp.com/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- MongoDB Scraper -->
<div class="modal micromodal-slide" id="mongoScraper-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          MongoDB Scraper
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          MongoDB Scraper is a Node Express application that scrapes Reddit with axios and does CRUD operations using
          MongoDB and Mongoose.

        </p>
        <img src="/images/project-gifs/mongo-scraper.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>MongoDB</li>
          <li>Node + Express + Handlebars</li>
          <li>Axios and Cheerio</li>
          <li>Dotenv</li>
          <li>Vanilla CSS Grid / Flexbox</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/MongoDB-Scraper">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://node-mongoose-scraper.herokuapp.com/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- Guru -->
<div class="modal micromodal-slide" id="guru-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Guru
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          Guru is an employee development app that promotes a positive business climate by encouraging users to post and
          respond to questions.
        </p>

        <img src="/images/project-gifs/guru.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>Node + Express</li>
          <li>MySQL (Sequelize)</li>
          <li>Dotenv</li>
          <li>Handlebars</li>
          <li>Vanilla CSS Grid / Flexbox</li>
          <li>Bootstrap Modals</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/Guru">Git Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://my-guru.herokuapp.com/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- YumBurger  -->
<div class="modal micromodal-slide" id="burger-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          YumBurger
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          YumBurger is an MVC app built with Node.js, express, handlebars, validator, and in production uses JawsDB
          (MySQL) on Heroku, and was built as an exercise in data persistence and maintaining state. This version is
          built using Sequelize. The user can create burgers and update the state of the burgers from "not devoured" to
          "devoured."
        </p>

        <img src="/images/project-gifs/burger.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>Node + Express</li>
          <li>MySQL (Sequelize)</li>
          <li>Handlebars</li>
          <li>Vanilla CSS Grid / Flexbox</li>


        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/YumBurger-Sequelize">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://yumburger-sequel.herokuapp.com/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- Friender  -->
<div class="modal micromodal-slide" id="friender-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Friender
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          A Node.Js Express App for finding your one true love. Built with ❤️ in node + express + geocities bootstrap
          theme
        </p>
        <img src="/images/project-gifs/friender.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>Node + Express</li>
          <li>Geocities Bootstrap Theme</li>
          <li>Love</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/Friend-Finder">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://friender69.herokuapp.com/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- BAMAzon -->
<div class="modal micromodal-slide" id="bamazon-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Bamazon
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          An ecommerce node.js CLI application that uses MySQL for data persistence. Run with node index.js. Requires
          Node, Inquirer, MySQL and ChalkPipe.
        </p>
        <img src="/images/project-gifs/bamazon.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>Node</li>
          <li>MySQL</li>
          <li>Inquirer</li>
          <li>ChalkPipe</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/BAMazon">Git
            Repo</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- WordGuess -->
<div class="modal micromodal-slide" id="wordGuess-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          WordGuess CLI
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          A hangman-style CLI built in node. Utilizes JS Constructor methods. Run with node index.js. Requires Node,
          Inquirer, and ChalkPipe.
        </p>
        <img src="/images/project-gifs/wordGuess.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>Node</li>
          <li>Inquirer</li>
          <li>ChalkPipe</li>

        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/Word-Guess-CLI">Git
            Repo</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- LIRI Bot -->
<div class="modal micromodal-slide" id="liriBot-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          LIRI-bot
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          LIRI bot (Language Interpretation and Recognition Interface) is a language-detecting, semi-intelligent CLI
          application for querying the Spotify, OMDB, and Bands in Town API databases.
        </p>
        <img src="/images/project-gifs/Liri-bot.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>Node</li>
          <li>Inquirer</li>
          <li>Dotenv</li>
          <li>Axios</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/LIRI-Bot">Git
            Repo</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- Train Scheduler -->
<div class="modal micromodal-slide" id="train-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Train Scheduler
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          Application that utilizes moment.js and time-stamped data preservation (Firebase) to ensure users never miss a
          train again.
        </p>
        <img src="/images/project-gifs/train.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>Moment.js</li>
          <li>Firebase</li>
          <li>Bootstrap UI</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">

        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/Train-Scheduler-App">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://froglegg.github.io/Train-Scheduler-App/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- Giphy App -->
<div class="modal micromodal-slide" id="giphy-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Giphy App
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          Web Application that utilizes AJAX calls to the Giphy API and returns gifs. DOM manipulation allows users to
          save gifs to array list and clear list. No data preserverance (yet).
        </p>
        <img src="/images/project-gifs/giphy.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>AJAX API Calls</li>
          <li>Vanilla CSS Grid and Flexbox</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">

        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/Giphy-App">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://froglegg.github.io/Giphy-App/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- Car Med-->
<div class="modal micromodal-slide" id="carMed-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          CarMed
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          A car maintenance and overall car health management dashboard. Utilizes AJAX calls to youTube and Google Maps
          API, data preserverance using local storage and Firebase, and custom SVG graphics, keyframe animations, and
          Vanilla CSS Grid / Flexbox.
        </p>
        <img src="/images/project-gifs/carMed.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>AJAX API Calls</li>
          <li>Firebase</li>
          <li>Vanilla CSS Grid and Flexbox, SVG, Keyframe animations</li>
          <li>Bootstrap modals</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">

        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/Car-Maintenance-App">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://ryansims265.github.io/project1/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<!-- Trivia -->
<div class="modal micromodal-slide" id="trivia-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Paranormal Trivia
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          Spooky trivia game, fun CSS animations and transitions. Utilizing JavaScript Array methods.
        </p>
        <img src="/images/project-gifs/trivia.gif" style="width:100%;" />

        <h3>Technologies Used</h3>
        <ul>
          <li>JavaScript Array Methods</li>
          <li>Keyframe CSS Animations</li>
        </ul>
        </p>
      </main>
      <footer class="modal__footer">

        <button class="modal__btn modal__btn-primary"><a href="https://github.com/Froglegg/TriviaGame">Git
            Repo</a></button>
        <button class="modal__btn modal__btn-primary"><a href="https://froglegg.github.io/TriviaGame/">Deployed
            Application</a></button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>