    <div class="hero">
        <h1>Uh-oh!</h1>
    </div>
    <article id="main">
        <h2 style="text-align:center;">Looks like your message did not get through. Must be something wrong with my contact form!</h2>

    </article>
    