    <div class="hero">
        <h1>Contact Success!</h1>
    </div>
    <article id="main">
        <h2 style="text-align:center;">Thank you for your message, I'll reach out soon.</h2>

    </article>
