    <div class="hero">
        <h1>Contact</h1>
    </div>
    <article id="main">

        <div>
            <form id="contactform" action="/contactForm" method="post">

                <p>Name:<br /><input name="name" id="name" type="text" required /></p>

                <p>Email: <br /><input name="email" id="email" type="email" required /></p>

                <p>Message: <br /><textarea name="message" id="message" required /> </textarea>
                </p>

                <input type="submit" name="submit" value="Send!" />

            </form>

        </div>
    </article>

    <script src="scripts/contact.js" async defer></script>