 <div class="hero">
        &nbsp;
    </div>
    <article id="main">
        <h2 style="text-align:center;">Hayes Crowley | Full-Stack Engineer</h2>
        <section class="row">
            <section class="column">
                <img src="images/profile-5.jpg" id="profile-image">
            </section>
            <section class="column">
              <p> Experienced full-stack engineer with a firm grasp on JavaScript and MERN (MongoDB / MySQL, Express, React.js, Node.js) development. I've built web sites and applications for Enterprise-scale companies as well as smaller NGO's as a full-time employee and contractor.
</p>
<p>
I love full-stack because I enjoy every stage and aspect of development, from building MVC architecture, server routes, database models, API layers, to developing functional UI. I particularly enjoy the ideation and discovery process, and working with clients and colleagues to build the perfect digital product.</p>
 
                <p>View samples of <a href="/portfolio">projects I've worked on</a> and <a href="/cv">review my
                        resumé.</a> <a href="/contact">Send me a message here</a> if you'd like to chat.</p>
                     
            </section>
        </section>
    </article>