 <div class="hero">
        &nbsp;
    </div>
    <article id="main">
        <h2 style="text-align:center;">Full-Stack Web Developer with background in Digital Marketing and Education</h2>
        <section class="row">
            <section class="column">
                <img src="images/profile-5.jpg" id="profile-image">
            </section>
            <section class="column">
              <p> I'm a MERN-stack developer with a firm grasp on the latest tools and technologies for developing and driving a sucessful digital product. I've developed and built sites for Enterprise-scale companies as well as smaller NGO's as a full-time employee and freelance contractor. I love full-stack because I enjoy every stage and aspect of development, from building MVC architecture to refining UI. I particularly enjoy the ideation and discovery process, and working alongside clients and colleagues to optimize site UX and CX based on their business requirements and content strategy.
                </p>
 
                <p>View samples of <a href="/portfolio">projects I've worked on</a> and <a href="/cv">review my
                        resumé.</a> <a href="/contact">Send me a message here</a> if you'd like to chat.</p>
                     
            </section>
        </section>
    </article>