  <div class="hero">
        <h1>Portfolio</h1>
    </div>
    <article id="main">

        <div class="accordion"><h2>Digital Projects</h2></div>

        <div class="panel">
            <form>

                <br>
                 <input class="accordion-item button-1" type="button" value="MERN Google Books" onclick="window.open('https://the-bookster.herokuapp.com','_self')" />

                 <input class="accordion-item button-1" type="button" value="React I-Ching" onclick="window.open('https://i-ching-react.herokuapp.com/','_self')" />

                 <input class="accordion-item button-1" type="button" value="MongoDB Scraper" onclick="window.open('https://node-mongoose-scraper.herokuapp.com/','_self')" />
                
                <input class="accordion-item button-1" type="button" value="Guru" onclick="window.open('https://my-guru.herokuapp.com/','_self')" />

                <input class="accordion-item button-1" type="button" value="YumBurger" onclick="window.open('https://yum-yum-burger.herokuapp.com/','_self')" />

                <input class="accordion-item button-1" type="button" value="Friender" onclick="window.open('https://friender69.herokuapp.com/','_self')" />

                <input class="accordion-item button-1" type="button" value="BAMazon" onclick="window.open('https://github.com/Froglegg/BAMazon','_self')" />

                <input class="accordion-item button-1" type="button" value="Word-Guess CLI" onclick="window.open('https://github.com/Froglegg/Word-Guess-CLI','_self')" />

                <input class="accordion-item button-1" type="button" value="LIRI Bot" onclick="window.open('https://github.com/Froglegg/LIRI-Bot','_self')" />

                <input class="accordion-item button-1" type="button" value="Node Web Scraper" onclick="window.open('https://github.com/Froglegg/node-scraper','_self')" />

                <input class="accordion-item button-1" type="button" value="Train Scheduler" onclick="window.open('https://froglegg.github.io/train-scheduler/','_self')" />

                <input class="accordion-item button-1" type="button" value="Giphy App" onclick="window.open('https://froglegg.github.io/giphyApp/','_self')" />

                <input class="accordion-item button-1" type="button" value="Paranormal Trivia" onclick="window.open('https://froglegg.github.io/TriviaGame/','_self')" />

                <input class="accordion-item button-1" type="button" value="The Crystal Collector" onclick="window.open('https://froglegg.github.io/unit-4-game/','_self')" />

                <input class="accordion-item button-1" type="button" value="Automating with Python" onclick="window.open('https://github.com/Froglegg/budou_file_output','_self')" />

                <br>
                <br>
            </form>

        </div>

        <div class="accordion"><h2>Websites</h2></div>

        <div class="panel">

            <form>
                <br>

                <input class="accordion-item button-1" type="button" value="Scale x Design" onclick="window.open('http://sxdaccelerator.care.org')" />

                <input class="accordion-item button-1" type="button" value="CCT" onclick="window.open('http://www.centerforcommunitytransitions.org')" />

                <input class="accordion-item button-1" type="button" value="Assurant Landing Page" onclick="window.open('http://www.assurant.sg')" />

                <input class="accordion-item button-1" type="button" value="CARE Switzerland" onclick="window.open('https://www.care-international.ch/')" />

                <input class="accordion-item button-1" type="button" value="CARE's World of Impact" onclick="window.open('http://worldofimpact.care.org/stories')" />
                <br>
                <br>

            </form>

        </div>

        <div class="accordion last-item">
            
            <h2>Documentation and Copywriting</h2></div>

        <div class="panel">

            <form>

                <br>

                <input class="accordion-item button-1" type="button" value="Sharepoint Docs" onclick="window.open('files/docs/assurant-technical-documentation.pdf')" />

                <input class="accordion-item button-1" type="button" value="Copywriting A" onclick="window.open('files/docs/aec_copywriting.pdf')" />

                <input class="accordion-item button-1" type="button" value="Coptwriting B" onclick="window.open('files/docs/team_briefs.pdf')" />

                <input class="accordion-item button-1" type="button" value="CARE Stories" onclick="window.open('files/docs/editing_sample.pdf')" />

                <input class="accordion-item button-1" type="button" value="Grant Proposal" onclick="window.open('files/docs/acard.pdf')" />

                <input class="accordion-item button-1" type="button" value="Content-Editor Guide" onclick="window.open('files/docs/user_guide.pdf')" />

                <input class="accordion-item button-1" type="button" value="MA Thesis" onclick="window.open('https://scholarworks.gsu.edu/english_theses/229/')" />

                <input class="accordion-item button-1" type="button" value="ENG 1101 Syllabus" onclick="window.open('files/docs/1101_syllabus.doc')" />

                <br>
                <br>

            </form>

        </div>
        <br><br>
    </article>