      <!-- Assurant -->
    <div class="modal micromodal-slide" id="assurant-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
           Assurant
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <p>
Migrated 21 international websites onto the SiteFinity CMS, and engineered UI, client-side scripting, site architecture, and UX to satisfy business and legal requirements. I also trained 20+ international content editors and developed documentation for using our ecosystem's card templates and bootstrap layouts. Working under senior developers, I helped troubleshoot CI/CD issues and participated in end of sprint code reviews and releases. 
</p>
<img src="/images/project-gifs/assurant.gif" style="width:100%;"/>

<h3>Technologies Used</h3>
<ul>
    <li>Tons of client-side JavaScript and CSS</li>
    <li>oAuth 2.0 validation for TrustPilot API</li>
    <li>SiteFinity CMS</li>

</ul>
          </p>
        </main>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary"><a href="https://www.assurant.com/">Corporate Site</a></button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </div>
    
    
    
    <!-- CCT -->
    <div class="modal micromodal-slide" id="cct-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
           Center for Community Transitions
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <p>

Center for Community Transitions is a non-profit in Charlotte that works to reintegrate people and families affected by the criminal justice system. I worked with their communications team to migrate their old site from a poor hosting service to a better one, build a custom WordPress site, and provide training and retainer services.</p>
<img src="/images/project-gifs/CCT-compressed.gif" style="width:100%;"/>

<h3>Technologies Used</h3>
<ul>
    <li>WordPress (Genesis Framework)</li>
    <li>Custom WP Hooks and PHP Snippets</li>
    <li>Advanced Custom Fields</li>
    <li>Cloudflare Global CDN</li>
    <li>Custom CSS and Layout</li>
    <li>Homepage banner design in photoshop</li>
    <li>Yoast SEO, Ninja Forms, Events Calendar plugins</li>
</ul>
          </p>
        </main>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary"><a href="https://centerforcommunitytransitions.org/">Live Site</a></button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </div>


  <!-- Scale X Design -->
    <div class="modal micromodal-slide" id="scaleX-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
           Scale X Design (CARE USA)
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <p>
Scale X Design is a competition operated by CARE USA which requests proposals for the most impactful and scalable non-profit start-ups and ideas from around the world. I worked with CARE's Digital Marketing department to create several new features for their WordPress site, refresh the layout and design, and write a dozen NGO program summaries. </p>
<img src="/images/project-gifs/Scale-x-compressed.gif" style="width:100%;"/>

<h3>Technologies Used</h3>
<ul>
<li>WordPress (Venture theme)</li>
    <li>Custom WP Hooks and PHP Snippets</li>
    <li>Advanced Custom Fields</li>
    <li>Custom CSS and Layout</li>
    <li>Yoast SEO, Ninja Forms, Events Calendar plugins</li>
</ul>
          </p>
        </main>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary"><a href="http://sxdaccelerator.care.org/">Live Site</a></button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </div>


  <!-- Care Schweiz -->
    <div class="modal micromodal-slide" id="careSchweiz-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
           CARE Schweiz
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <p>
I worked with CARE Switzerland's and CARE USA's digital marketing team to build a WordPress site and Google Analytics dashboard for CARE Switzerland. 
</p>
<img src="/images/project-gifs/CARE-Schweiz-compressed.gif" style="width:100%;"/>

<h3>Technologies Used</h3>
<ul>
    <li>WordPress (Beaver Builder)</li>
    <li>Custom WP Hooks and PHP Snippets</li>
    <li>Advanced Custom Fields</li>
    <li>Custom CSS and Layout</li>
    <li>Yoast SEO, Ninja Forms, Events Calendar plugins</li>
    
</ul>
          </p>
        </main>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary"><a href="https://www.care-international.ch/">Live Site</a></button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </div>


  <!-- CARE USA -->
    <div class="modal micromodal-slide" id="careImpact-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
           CARE USA World of Impact
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <p>
I worked with CARE USA's Digital Marketing Team to build out the layout for their World of Impact micro site using Beaver Builder in WordPress. I worked with agency developers to map Contentful fields and hook up their API to our site. I also trained members of the digital marketing team how to use Contentful to create, update, or delete content. </p>

<img src="/images/project-gifs/CARE-world-of-impact-compressed.gif" style="width:100%;"/>

<h3>Technologies Used</h3>
<ul>
    <li>WordPress + Contentful</li>
    <li>Beaver Builder</li>
</ul>
          </p>
        </main>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary"><a href="http://worldofimpact.care.org/stories">Live Site</a></button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </div>
